<nav class="navbar navbar-expand-lg navbar-light bg-light">    
    <a class="navbar-brand" href="/">Salesforce as Idp</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <% if(typeof passport !== 'undefined') { %>
        <% if (passport.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>      
          <li class="nav-item">
            <a class="nav-link" href="/api">Api</a>
          </li>  
        <% } %>
      <% } %>
      <% if(typeof passport === 'undefined') { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>  
      <% } %>
      <% if(typeof passport !== 'undefined') { %>
        <% if (passport.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } %>
      <% } %>
    </ul>
</nav>

<em>SessionId: <%= typeof sessionId != 'undefined' ? sessionId : 'NOT FOUND!' %></em>
<em>Variant: <%= typeof variant != 'undefined' ? variant : 'default' %></em>