<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">

        <header>
            <%- include('../partials/header_noauth'); %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Salesforce as Idp</h1>
                <p>Please login to continue.</p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>